@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat.ttf");
}
@font-face {
  font-family: 'SharpSans';
  src: url("fonts/SharpSans.otf");
}
@font-face {
  font-family: 'ProximaVara';
  src: url("fonts/ProximaVara.woff2");
}
section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}
.button-container {
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: center;
}
.nebula-button {
  background: #cd1131;
  border: 4px solid #cd1131;
  border-radius: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: inherits;
  padding: 16px 24px;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
}
.nebula-button:hover,
.nebula-button:focus {
  background: #fff;
  color: #cd1131;
}
.nebula-button--small {
  padding: $button-padding--small;
}
.nebula-button--large {
  padding: $button-padding--large;
}
.nebula-button--ghost {
  background: $button--ghost-background;
  border: $button--ghost-border;
  color: $button--ghost-color;
}
.nebula-button--ghost:hover,
.nebula-button--ghost:focus {
  background: $button--ghost-background--hover;
  color: $button--ghost-color--hover;
}
.nebula-button--flat {
  background: $button--flat-background;
  color: $button--flat-color;
}
.nebula-button--flat:hover,
.nebula-button--flat:focus {
  background: $button--flat-background--hover;
  color: $button--flat-color--hover;
}
