$button-background = $nebula-color-platform-interactive-800;
$button-background--hover = $nebula-color-platform-interactive-900;
$button--ghost-background = transparent;
$button--ghost-background--hover = $nebula-color-platform-interactive-900;
$button--flat-background = transparent;
$button--flat-background--hover = $nebula-color-platform-interactive-200;

$button-border = none;
$button--ghost-border = 1px solid $nebula-color-platform-interactive-800;
$button-border-radius = $nebula-border-radius;

$button-color = $nebula-color-platform-white;
$button-color--hover = $nebula-color-platform-white;
$button--ghost-color = $nebula-color-platform-interactive-800;
$button--ghost-color--hover = $nebula-color-platform-white;
$button--flat-color = $nebula-color-platform-interactive-800;
$button--flat-color--hover = $nebula-color-platform-interactive-800;

$button-font-family = ProximaVara;
$button-font-size = $nebula-font-size-body;
$button-font-weight = 700;
$button-letter-spacing = inherit;
$button-text-transform = none;

$button-padding = 12px $nebula-space-2x;
$button-padding--small = $nebula-space-1x $nebula-space-3x;
$button-padding--large = $nebula-space-2x $nebula-space-3x;