@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat.ttf);
}

@font-face {
    font-family: 'SharpSans';
    src: url(fonts/SharpSans.otf);
}

@font-face {
    font-family: 'ProximaVara';
    src: url(fonts/ProximaVara.woff2);
}

section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: $nebula-space-2x;
    justify-content: center;
}

.button-container {
    align-items: center;
    display: flex;
    gap: $nebula-space-2x;
    justify-content: center;
}