$button-background = $nebula-color-platform-black;
$button-background--hover = rgba($nebula-color-platform-black, .6);
$button--ghost-background = transparent;
$button--ghost-background--hover =  rgba($nebula-color-platform-black, .2);

$button-border = none;
$button--ghost-border = 4px solid $nebula-color-platform-black;
$button-border-radius = none;

$button-color = $nebula-color-platform-white;
$button-color--hover = $nebula-color-platform-white;
$button--ghost-color = $nebula-color-platform-black;
$button--ghost-color--hover = $nebula-color-platform-black;

$button-font-family = sans-serif;
$button-font-size = $nebula-font-size-body;
$button-font-weight = 700;
$button-letter-spacing = inherit;
$button-text-transform = none;

$button-padding = $nebula-space-1x $nebula-space-3x;