$button-background = #cd1131;
$button-background--hover = $nebula-color-platform-white;

$button-border = 4px solid #cd1131;
$button-border-radius = none;

$button-color = $nebula-color-platform-white;
$button-color--hover = #cd1131;

$button-font-family = Montserrat;
$button-font-size = $nebula-font-size-body;
$button-font-weight = 400;
$button-letter-spacing = inherits;
$button-text-transform = uppercase;

$button-padding = $nebula-space-2x $nebula-space-3x;