$button-background = $nebula-color-platform-white;
$button-background--hover = #ec8a99;

$button-border = 4px solid #ec8a99;
$button-border-radius = none;

$button-color = $nebula-color-platform-black;
$button-color--hover = $nebula-color-platform-white;

$button-font-family = SharpSans;
$button-font-size = 18px;
$button-font-weight = 700;
$button-letter-spacing = 3px;
$button-text-transform = uppercase;

$button-padding = $nebula-space-3x;