$nebula-border-radius = 8px;

$nebula-color-platform-white = #FFFFFF;
$nebula-color-platform-black = #000000;
$nebula-color-platform-interactive-100 = #F0F9FF;
$nebula-color-platform-interactive-200 = #DBF0FF;
$nebula-color-platform-interactive-300 = #D1EBFF;
$nebula-color-platform-interactive-400 = #9ED5FF;
$nebula-color-platform-interactive-500 = #6BBFFF;
$nebula-color-platform-interactive-600 = #38A9FF;
$nebula-color-platform-interactive-700 = #0593FF;
$nebula-color-platform-interactive-800 = #0077D1;
$nebula-color-platform-interactive-900 = #005A9E;
$nebula-color-platform-interactive-1000 = #003D6B;
$nebula-color-platform-interactive-1100 = #002038;

$nebula-space-quarter = 2px;
$nebula-space-half = 4px;
$nebula-space-1x = 8px;
$nebula-space-2x = 16px;
$nebula-space-3x = 24px;
$nebula-space-4x = 32px;
$nebula-space-5x = 40px;
$nebula-space-6x = 48px;
$nebula-space-7x = 56px;
$nebula-space-8x = 64px;
$nebula-space-9x = 72px;
$nebula-space-10x = 80px;

$nebula-font-size-body = 1rem;